# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints
executed_*.ipynb

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
sdist/
var/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.pytest_cache/
htmlcov/
coverage.xml

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Environment variables
.env
.env.*
